.mufasa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  gap: 20px; /* Gap between elements */
  margin-bottom: 5%;
}

.mufasa-img-container {
  display: flex;
  gap: 40px; /* Gap between images */
  align-items: center;
  margin-left: 20%;
}

.mufaa-image {
  width: 30%; /* Adjust image width as needed */
  height: auto;
}

.mufaa-text-container {
  text-align: center;
  width: 40%;
}

.mufasa-container h2 {
  text-align: left;
  font-size: 30px;
  margin-left: -10%;
  margin-bottom: 10px;
  color: white;
}
.mufasa-container1 h2 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.mufaa-text-container p {
  font-size: 17px;
  margin-bottom: 20px;
  margin-left: -10%;
  color: white;
  text-align: left;
}
.mufaa-text-container1 p {
  font-size: 17px;
  margin-bottom: 20px;
  color: white;
  text-align: left;
}

.mufaa-text-container a {
  display: inline-block;
  background-color: #007bff;
  width: 50%;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.exhibition-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.mufasa-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
}

.mufasa-img-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.mufaa-image1 {
  width: 100%; /* Increase the width to make the image larger */
  max-width: 800px; /* Ensure the image doesn't exceed the container's max width */
  height: auto;
  border-radius: 10px;
}

.mufaa-text-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: left;
  width: 80%;
}
