.mainSection {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.start-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  margin-bottom: 5%;
}

.section-line {
  border-bottom: 2px solid white;
  margin-bottom: 5%;
}

.section-line2 {
  border-bottom: 2px solid white;
  margin-bottom: 5%;
}

.exhi-header, .visit-header {
  text-align: left;
  margin-bottom: 5%;
}
.grid-container {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20%;
  align-items: center;
}

.card-banner {
  flex: 1;
}

.Fillers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 20px; 
  height: 100%;
  letter-spacing: 1px;
}

.text-container{
  margin-bottom: 10px; 
  text-align: left;
  margin-bottom: 5%;
  width: 90%;
}
.Fillers p {
  margin-bottom: 10px; 
  text-align: left;
  margin-bottom: 5%;
}

.Fillers a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  text-decoration: none;
}

.Fillers a button {
  background-color: white;
  color: black; 
  width: 50%;
  height: 50px;
  padding: 10px 20px; 
  font-size: 16px; 
  border-radius: 5%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Combine both transitions */
}

.Fillers a button:hover {
  background-color: #000000; /* Change background color on hover */
  color: #ccc;
  transform: scale(1.05);
}

/* Vertical line */
.grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px; /* Width of the vertical line */
  height: 100%;
  background-color: #ccc; /* Color of the vertical line */
  z-index: -1; /* Ensure the line is behind the content */
}

/* Add this media query at the end of your CSS file */
@media (max-width: 991px) {
  .grid-container::before {
    display: none;
  }

  /* Adjust layout for BannerTime content */
  .movie-list {
    flex-direction: column;
  }

  .card-banner {
    margin-bottom: 20px; /* Add some spacing between BannerTime components */
  }
}
