.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
    font-size: 24px;
    font-weight: 400;
  }
  .navbar .leftSide img {
  width: 100px;
}

.logoText{
    font-family: Kite One, sans-serif;
    background: linear-gradient(178deg, #d9d9d9 98.33%, #737373 51.6%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 4px;
  font-size:22px ;
  text-decoration: none;
}
.logo{
    text-decoration: none;
}
.logoLink {
    text-decoration: none; 
  }
.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar .rightSide a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18px; 
    position: relative;  
    overflow: hidden; 
}

.navbar .rightSide a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, transform 0.3s ease; /* Add transition for smoother animation */
}

.navbar .rightSide a:hover::after {
  width: 100%;
  transform: translateX; /* Slide the underscore to the left */
}
.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  .navbar .rightSide .dropdown {
    position: relative;
  }
  
  .navbar .rightSide .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the navbar link */
    left: 0;
    background-color: #222831;
    padding: 10px;
    z-index: 1; /* Ensure dropdown appears above other elements */
  }
  
  .dropdown:hover .dropdown-content {
    display: block; /* Display dropdown when hovering over the navbar link */
  }

  
  .navbar .rightSide .dropdown-content a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  
  .navbar .rightSide .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .small-font {
    font-size: 8px;
  }

  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }