.utstilling-container {
  display: flex;
  align-items: center;

  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.utstilling-img img{
  flex: 1;
  max-width: 90%;
  display: flex;
  justify-content: center; /* Center the image horizontally */
}


.text-container {
  flex: 1; /* Allow the text container to grow and shrink */
  color: white;
  margin-left: 1%;
  margin-right: 5%; /* Increase margin to provide more space for the text */
  padding: 20px; /* Add padding to create space */
}

.heading-text {
  margin-top: 0;
}

.text-container p {
  margin-bottom: 10px;
  text-align: left;
}

.text-container button {
  background-color: white;
  color: black; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: 2px solid black; /* Add a border to resemble a button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.text-container button:hover {
  background-color: #222831; /* Darken button background color on hover */
  color: white; /* Change text color on hover */
  transform: scale(1.05); /* Scale up on hover */
}

.text-container button:focus {
  outline: none; /* Remove outline when focused */
}