.popup {
    position: fixed;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 55vh;
    display: flex;
    justify-content: center;
    bottom: 20%;
    z-index: 1000;
}
@media (max-width: 768px) {
    .popup {
        top: 40%;
        left: 10%;
        width: 80%;
        height: 60vh;
        display: flex;
        justify-content: center;
        bottom: 20%;
    }
}
@media (max-width: 1360px) {
    .popup {
        top: 40%;
        left: 10%;
        width: 80%;
        height: 60vh;
        display: flex;
        justify-content: center;
        bottom: 20%;
    }
}

.popup-inner {
    position: relative;
    padding: 1%;
    width: 100%;
    max-width: 640px;
    background-color: white;
    color: black;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    
}

.popup-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    height: auto;
    flex-grow: 1;
    margin-bottom: 2%;
}

.article {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: stretch;
}

@media (max-width: 991px) {
    .article {
        flex-direction: column;
        gap: 0px;
    }
}

.content-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 3%;
}

@media (max-width: 991px) {
    .content-column {
        width: 100%;
    }
}

.service-heading {
    color: rgba(0, 0, 0, 1);
    letter-spacing: -0.5px;
    text-align: left;
    font: 700 36px/110% "Poppins", sans-serif;
    max-width: 100%;
}

@media (max-width: 991px) {
    .service-heading {
        text-align: center;
    }
}

.product-description {
    color: rgba(74, 74, 74, 1);
    letter-spacing: 0px;
    text-align: left;
    font: 300 16px "Poppins", sans-serif;
    max-width: 100%;
    margin-top: 8px;
}

@media (max-width: 991px) {
    .product-description {
        text-align: center;
    }
}

.form-container {
    display: flex;
    flex-direction: column;

    margin-top: 1%;
}

.form-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    min-height: 20px;
    width: 100%;
    margin-bottom: 10px; /* Add margin to separate input and button */
}

@media (max-width: 991px) {
    .form-input {
        width: 100%;
    }
}

.submit-button {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 15px 25px;
    cursor: pointer;
    width: 113%;
    min-height: 20px;
    
}

@media (max-width: 991px) {
    .submit-button {
        width: auto;
        align-self: center;
    }
}

.image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
}

@media (max-width: 991px) {
    .image-column {
        width: 100%;
    }
}

.product-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    height: auto;
}

@media (width: 1366px) and (height: 768px) {
    
    .popup {
        position: fixed;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 70vh;
        bottom: auto; /* Resetting the bottom property */
    }

    .popup-inner {
        max-width: 100%;
        max-height: 100%; /* Limiting the height of the popup inner to prevent overflow */
        padding: 2%; /* Adjusting padding */
        overflow-y: auto; /* Adding vertical overflow scroll if content exceeds height */
    }

    .popup-inner .close-btn {
        top: 16px;
        right: 16px;
    }

    .popup-section {
        margin-top: 20px; /* Adjusting margin top */
    }

    .article {
        gap: 20px; /* Adjusting gap between elements */
    }

    .content-column {
        width: 70%;
        margin-left: 3%; /* Resetting margin left */
    }

    .product-image {
        max-width: 100%; /* Ensuring the image does not exceed its container */
        height: auto; /* Maintaining aspect ratio */
    }

    .submit-button {
        width: 100%; /* Ensuring the button fits within its container */
    }
}
